server {
    location / {
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:3031;
    }
    location /internal-cache/ {
        internal;
        alias /path/to/photobundle/dist/cache/;
    }
    location /internal-albums/ {
        internal;
        alias /path/to/photobundle/dist/albums/;
    }
    location /img/ { alias /path/to/photobundle/dist/img/; }
    location /js/  { alias /path/to/photobundle/dist/js/;  }
    location /css/ { alias /path/to/photobundle/dist/css/; }
}
