server {
    listen 8080;
    location / {
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:3031;
    }
    location /internal-cache/ {
        internal;
        alias PHOTOBUNDLE_PATH/dist/cache/;
    }
    location /internal-albums/ {
        internal;
        alias PHOTOBUNDLE_PATH/dist/albums/;
    }
    location /img/ { alias PHOTOBUNDLE_PATH/dist/img/; }
    location /js/  { alias PHOTOBUNDLE_PATH/dist/js/;  }
    location /css/ { alias PHOTOBUNDLE_PATH/dist/css/; }
}
