<!DOCTYPE html>
<!-- kate: tab-indents off; tab-width 2; replace-tabs on; indent-width 2; //-->
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
    <meta charset="utf-8">
    <title>{{ config.I18N_PHOTOS_BY_HEADER }}</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1.0"> 
    <link href="/css/photobundle.min.css" rel="stylesheet" />
  </head>
  <body>
<head>
<body>
<div align="right">
{% if current_user.is_authenticated %}
{{ config.I18N_HELLO }} {{ current_user.name }} | <a href="/logout">{{ config.I18N_LOGOUT }}</a>
{% endif %}
</div>
<h1>{{ config.I18N_PHOTOS_BY_HEADER }}</h1>
<h2>{{ config.I18N_LIST_OF_ALBUMS }}</h2>
<ul>
{% for album in albums %}
<li><a href="a/{{ album.pagename }}">{{ album.title }}</a></li>
{% endfor %}
</ul>
</body>
</html>
